/SpaceLetters/*.suo
/SpaceLetters/SpaceLetters/obj
/SpaceLetters/lib/sfmlnet-audio-2.dll
/SpaceLetters/lib/sfmlnet-graphics-2.dll
/SpaceLetters/lib/sfmlnet-window-2.dll
/SpaceLetters/SpaceLetters/bin/Debug/csfml-audio-2.dll
/SpaceLetters/SpaceLetters/bin/Debug/csfml-graphics-2.dll
/SpaceLetters/SpaceLetters/bin/Debug/csfml-window-2.dll
/SpaceLetters/SpaceLetters/bin/Debug/libsndfile-1.dll
/SpaceLetters/SpaceLetters/bin/Debug/openal32.dll
/SpaceLetters/SpaceLetters/bin/Debug/sfmlnet-audio-2.dll
/SpaceLetters/SpaceLetters/bin/Debug/sfmlnet-graphics-2.dll
/SpaceLetters/SpaceLetters/bin/Debug/sfmlnet-window-2.dll
/SpaceLetters/SpaceLetters/bin/Debug/SpaceLetters.exe
/SpaceLetters/SpaceLetters/bin/Debug/SpaceLetters.exe.config
/SpaceLetters/SpaceLetters/bin/Debug/SpaceLetters.pdb
/SpaceLetters/SpaceLetters/bin/Debug/SpaceLetters.vshost.exe
/SpaceLetters/SpaceLetters/bin/Debug/SpaceLetters.vshost.exe.config
/SpaceLetters/SpaceLetters/bin/Debug/SpaceLetters.vshost.exe.manifest
